
<p>
 Book Review application developed by Dhanya
 </p>
 <ul>
   <li> Browse books by genre </li>
   <li> Search for books </li>
   <li> Rate books       </li>
   <li> Post comments on books </li>
 </ul>

<p>
Please email<strong> dhanyabijumohan@gmail.com</strong> for any suggestions.
</p>