
<p>
 
 <span id = "bookdet">
  <%=image_tag(@book.coverimage)%>

  <strong>Name:
  <%= @book.name %></strong>

  &nbsp &nbsp &nbsp
 
  <strong>Author:
  <%= @book.author %></strong>	
  </span>
</p>
<style>
#bookdet{font-size: 1.2em;}
</style>
<%= link_to 'Edit Book', edit_book_path(@book) %> 
<br></br>
<div id = "notes">
   <%= render @book.notes %>



<div>
<%= form_for([@book,@book.notes.new]) do |f| %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_field :note, size: "25*25" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>

<%= link_to 'Back to books', books_path %>
