
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* sign up form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  height : 3em;
   box-sizing: border-box;
}
/*
input {
  height: auto !important;
}
*/

.login_field{
  width: 20%;
}

#error_explanation {
  color : #a94442;
  font-weight : bold;
}

.flash{
  font-weight : bold;
   }
   
.note {
  background : lightgray;
  border : 1px solid;
  border-radius : 5px;
  width : 350px;
  margin : 15 px;
  padding : 5px;
}

#notice {
color : green;
}

#alert {
color : red;
}

.form {
  margin-left : 50px; 
 
}

.submitform {
 width : 100px; 

}

.table {
margin-bottom : 10px;
}